@keyframes ball {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 350px;
  }
  50% {
    top: 200px;
    left: 350px;
  }
  75% {
    top: 200px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
#animView .square {
  height: 200px;
  width: 200px;
  background-color: aqua;
  position: relative;
}
#animView .anim {
  animation-name: ball;
  animation-duration: 2s;
}
#animView .square2 {
  height: 200px;
  width: 200px;
  background-color: aqua;
  margin-left: 200px;
  position: relative;
}
#animView .list {
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  background-color: #aa0000;
}
#animView .list .item {
  height: 40px;
  width: 100px;
  background-color: #00aa00;
  margin-top: 10px;
}
#animView .list .item:nth-child(1) {
  margin-top: 0;
}
