#testView {
  width: 100%;
  height: 100%;
}
#testView .addMgtcDialog {
  width: 640px;
}
#testView .addMgtcDialog .el-dialog__body {
  padding: 16px 24px 16px 24px;
  height: 416px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#testView .addMgtcDialog .tipView {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #000000;
  line-height: 12px;
  padding-left: 9px;
  margin: 16px 0px;
  position: relative;
  display: flex;
}
#testView .addMgtcDialog .tipView::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 12px;
  background: linear-gradient(180deg, #60A1FF, #4F68FF);
}
#testView .addMgtcDialog .tipView .positive,
#testView .addMgtcDialog .tipView .negative,
#testView .addMgtcDialog .tipView .delete {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  margin-left: 22px;
  cursor: pointer;
}
#testView .addMgtcDialog .tipView .positive {
  color: #2974FF;
}
#testView .addMgtcDialog .tipView .negative {
  color: #999999;
}
#testView .addMgtcDialog .tipView .delete {
  color: #DB3939;
}
#testView .addMgtcDialog .listView,
#testView .addMgtcDialog .listView2 {
  display: flex;
  flex-wrap: wrap;
  max-height: 184px;
  overflow-y: scroll;
  margin-right: -16px;
}
#testView .addMgtcDialog .listView .item,
#testView .addMgtcDialog .listView2 .item {
  width: calc(100% / 4 - 16px + 2px);
  height: 32px;
  background: #F5F7FA;
  border-radius: 2px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  line-height: 32px;
  text-align: center;
  position: relative;
}
#testView .addMgtcDialog .listView .item .txt,
#testView .addMgtcDialog .listView2 .item .txt {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 8px;
}
#testView .addMgtcDialog .listView .item .delete,
#testView .addMgtcDialog .listView2 .item .delete {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 15px;
  height: 15px;
  background: #DB3939;
  border-radius: 50%;
  z-index: 99999;
  color: #FFFFFF;
  line-height: 15px;
  font-size: 18px;
  cursor: pointer;
}
#testView .addMgtcDialog .listView .item:nth-child(4n),
#testView .addMgtcDialog .listView2 .item:nth-child(4n) {
  margin-right: 0px;
}
#testView .addMgtcDialog .listView .itemChoose,
#testView .addMgtcDialog .listView2 .itemChoose {
  background: linear-gradient(90deg, #60A1FF, #4F68FF);
  color: #FFFFFF;
}
#testView .addMgtcDialog .listView2 {
  flex-grow: 1;
  height: 0;
  padding-top: 16px;
  margin-top: -16px;
  transition-duration: 0.3s;
}
#testView .addMgtcDialog .filterView {
  height: 32px;
  display: flex;
}
#testView .addMgtcDialog .filterView .btn {
  width: 32px;
  height: 32px;
  background: linear-gradient(90deg, #60A1FF, #4F68FF);
  border-radius: 2px;
}
