#myButton .myButton {
  height: 32px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#myButton .myButtonSmall {
  height: 24px;
}
#myButton .myNormalButtom {
  background: #ffffff;
  border: 1px solid #1890ff;
  color: #1890ff;
}
#myButton .myPrimaryButtom {
  background: #1890ff;
  color: #ffffff;
}
#myButton .myIconButtom {
  background: #e8f3ff;
  color: #1890ff;
}
#myButton .myWarningButtom {
  border: 1px solid #fe5e7c;
  color: #d3082d;
}
#myButton .myDisabledButtom {
  background: #c2c5d2;
  color: #ffffff;
  cursor: not-allowed;
}
#myButton .myWarningButtom:hover {
  background: #fe5e7c !important;
  border: 1px solid #d3082d !important;
  color: #ffffff !important;
}
#myButton .myNormalButtom:hover {
  background: #1890ff77;
  border: 1px solid #1890ff;
  border-radius: 4px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
}
